body {
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

.main-input {
  width: 70%;
}

.wordsContainer {
  display: flex;
  width: 55%;
  height: 100%;
  max-height: 100%;
  overflow: scroll;
  flex-wrap: wrap;
  flex-direction: row;
}

.hidden {
  display: none;
}

.awords {
  padding: 10px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

a:hover {
  background: rgb(141, 180, 172);
}

.chartContainer {
  margin-left: center;
  width: 70%;
}

.wavy {
  margin-top: 0;
}
